BrokeringClient/src/conf/xml-resources/web-service-references/ShareBrokeringWS/wsdl/localhost_8080/ShareBrokeringWS/ShareBrokeringWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://brokering.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://brokering.com/" name="ShareBrokeringWS">
<types>
<xsd:schema>
<xsd:import namespace="http://brokering.com/" schemaLocation="http://localhost:8080/ShareBrokeringWS/ShareBrokeringWS?xsd=1"/>
</xsd:schema>
</types>
<message name="setup">
<part name="parameters" element="tns:setup"/>
</message>
<message name="setupResponse">
<part name="parameters" element="tns:setupResponse"/>
</message>
<message name="getAllShares">
<part name="parameters" element="tns:getAllShares"/>
</message>
<message name="getAllSharesResponse">
<part name="parameters" element="tns:getAllSharesResponse"/>
</message>
<message name="getShareName">
<part name="parameters" element="tns:getShareName"/>
</message>
<message name="getShareNameResponse">
<part name="parameters" element="tns:getShareNameResponse"/>
</message>
<message name="searchShares">
<part name="parameters" element="tns:searchShares"/>
</message>
<message name="searchSharesResponse">
<part name="parameters" element="tns:searchSharesResponse"/>
</message>
<message name="buyShares">
<part name="parameters" element="tns:buyShares"/>
</message>
<message name="buySharesResponse">
<part name="parameters" element="tns:buySharesResponse"/>
</message>
<message name="getShareBySymobol">
<part name="parameters" element="tns:getShareBySymobol"/>
</message>
<message name="getShareBySymobolResponse">
<part name="parameters" element="tns:getShareBySymobolResponse"/>
</message>
<message name="getCompanyInfo">
<part name="parameters" element="tns:getCompanyInfo"/>
</message>
<message name="getCompanyInfoResponse">
<part name="parameters" element="tns:getCompanyInfoResponse"/>
</message>
<message name="getShareNews">
<part name="parameters" element="tns:getShareNews"/>
</message>
<message name="getShareNewsResponse">
<part name="parameters" element="tns:getShareNewsResponse"/>
</message>
<portType name="ShareBrokeringWS">
<operation name="setup">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/setupRequest" message="tns:setup"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/setupResponse" message="tns:setupResponse"/>
</operation>
<operation name="getAllShares">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/getAllSharesRequest" message="tns:getAllShares"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/getAllSharesResponse" message="tns:getAllSharesResponse"/>
</operation>
<operation name="getShareName">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/getShareNameRequest" message="tns:getShareName"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/getShareNameResponse" message="tns:getShareNameResponse"/>
</operation>
<operation name="searchShares">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/searchSharesRequest" message="tns:searchShares"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/searchSharesResponse" message="tns:searchSharesResponse"/>
</operation>
<operation name="buyShares">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/buySharesRequest" message="tns:buyShares"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/buySharesResponse" message="tns:buySharesResponse"/>
</operation>
<operation name="getShareBySymobol">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/getShareBySymobolRequest" message="tns:getShareBySymobol"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/getShareBySymobolResponse" message="tns:getShareBySymobolResponse"/>
</operation>
<operation name="getCompanyInfo">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/getCompanyInfoRequest" message="tns:getCompanyInfo"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/getCompanyInfoResponse" message="tns:getCompanyInfoResponse"/>
</operation>
<operation name="getShareNews">
<input wsam:Action="http://brokering.com/ShareBrokeringWS/getShareNewsRequest" message="tns:getShareNews"/>
<output wsam:Action="http://brokering.com/ShareBrokeringWS/getShareNewsResponse" message="tns:getShareNewsResponse"/>
</operation>
</portType>
<binding name="ShareBrokeringWSPortBinding" type="tns:ShareBrokeringWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShareName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShareBySymobol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompanyInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShareNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ShareBrokeringWS">
<port name="ShareBrokeringWSPort" binding="tns:ShareBrokeringWSPortBinding">
<soap:address location="http://localhost:8080/ShareBrokeringWS/ShareBrokeringWS"/>
</port>
</service>
</definitions>